@import url('variables.css');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;	
	list-style: none;	
	padding: 0; 
	margin: 0;
	text-decoration: none;
}

body {
	color: var(--black-color);
    background-color: var(--white-color);		    
}

header{
	margin-bottom: 4rem;
}

header > .content > h1{
	text-align: center;
	color: var(--title-color);
	font-size: 2.5rem;
}

main{
    min-height: 100vh;
}

.search-form{
	width:100%;
	display:flex;
}

.search-form button{	
	display:flex;
	align-items:center;	
	justify-content:center;	
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-top-left-radius:.4rem;
	border-bottom-left-radius:.4rem;
	box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.2);
	border:1px solid var(--title-color);
	background-color:var(--title-color);
	padding:.5rem;	
}

.search-form button svg{
	fill: var(--black-color);	

}

.search-form input{
	width:100%;
	border-top-right-radius:.4rem;
	border-bottom-right-radius:.4rem;
	border:1px solid #cecece;	
	outline:none;
	padding-left:.5rem;
	font-weight:300;
	font-size:var(--input-font-size);
}

.content {
    width: 100vw;    
    padding: var(--padding-external-sides);
    background-color: var(--white-color);
}


.pokemon {
    display: flex;
    flex-direction: column;    
    padding: var(--padding-external-sides);
    border-radius: 1rem;   
    margin-bottom: 5rem;     
}


.pokemon img {
    max-width: 100%;
    height: 200px;
    margin-top: -5rem;
}

.pokemon .number {
    color: var(--black-color);
    opacity: .8;    
}

.pokemon .name {
    text-transform: capitalize;
    color: var(--black-color);
    margin-bottom: .25rem;
}


.pokemon .types {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;    
}

.pokemon .types .type {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--black-color);
    padding: .25rem 2.5rem;
    margin: .25rem 0;
    font-size: 1rem;
    border-radius: 1rem;    
}

.normal {
    background-color:var(--normal-color);
}

.grass {
    background-color: var(--grass-color);
}

.fire {
    background-color: var(--fire-color);
}

.water {
    background-color: var(--water-color);
}

.electric {
    background-color: var(--electric-color);
}

.ice {
    background-color: var(--ice-color);
}

.ground {
    background-color: var(--ground-color);
}

.flying {
    background-color: var(--flying-color);
}

.poison {
    background-color: var(--poison-color);
}

.fighting {
    background-color: var(--fighting-color);
}

.psychic {
    background-color: var(--psychic-color);
}

.dark {
    background-color: var(--dark-color);
}

.rock {
    background-color: var(--rock-color);
}

.bug {
    background-color: var(--bug-color);
}

.ghost {
    background-color: var(--ghost-color);
}

.steel {
    background-color: var(--steel-color);
}

.dragon {
    background-color: var(--dragon-color);
}

.fairy {
    background-color: var(--fairy-color);
}
.loading{
    display: flex;
    justify-content: center;
    margin-top: -6rem;
}
.loading img{
   width: 300px;
}

footer{		    
	background-color: var(--title-color);    	    
}

footer .content{
	background-color: transparent;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

footer p{
	text-align: center;
    font-size: .97rem;
}

footer a:hover{
	color: var(--white-color);
}

footer a{
	color: var(--black-color);
	font-weight: 600;
	text-decoration: underline;	
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;      
		align-self: center;
		justify-self: center;  
    }
	header, main, footer{
		display: grid;
		grid-template-columns: 1fr;
	}

}
